@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #003135;
    font-family: "Poppins", sans-serif;

}



h1 {
    text-align: center;
    background-color: black;
    color: beige;
    font-size: 2rem;
    padding: 0.6rem;
}

img {
    height: 6rem;
    width: 6rem;
    border: 2px solid black;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    box-shadow:6px 6px 7px rgb(89, 173, 238);

}

img:active{
    transform: scale(0.92);
}
div p {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
}

.box {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;

}



.score {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 3rem;
}

#user,
#computer {
    font-size: 3rem;

}

#result {
    font-size: 2.5rem;
    margin: 2rem;
}

#btn {
    display: block;
    margin: auto;
    padding: 0.8rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    border: none;
}
#btn:hover{
    background-color: white;
    color: black;
}
#btn:active{
    transform: scale(0.9);
}
#rec{
    font-family: popins;
    font-size: 1.5rem;
    color: #92d7e7;
     font-weight:bolder;
}

.cont {
    padding-bottom: 3rem;
    width: 60vw;
    margin: auto;
}

@media only screen and (max-width: 400px){
    .main{
        height: 100vh;
        width: 100vw;
    }
    img{
        width: 3.5rem;
        height: 3.5rem;
    }
    .box{
        gap: 2rem;
    }
    .score{
        gap: 4rem;
    }
    div p{
       font-size:  1.5rem;
    }

}
